


.gridBox {
    border-radius: 15px;
    float: left;
    width: 25%;
    height: 30%;
    padding: 15px;
    margin: 15px;
    background-color: #0F1819;
    color: white;
    position: relative;
}

.listBox {
    border-radius: 15px;
    float: left;
    width: 80%;
    height: 10vh;
    padding: 15px;
    margin: 15px;
    background-color: #0F1819;
    color: white;
    position: relative;
}

.lightGridBox {
    border-radius: 15px;
    float: left;
    width: 25%;
    height: 30%;
    padding: 15px;
    margin: 15px;
    background-color: #CDDDF4;
    color: #363671;
    position: relative;
}


  .gridBoxRow:after {
    content: "";
    display: table;
    clear: both;
  }

  .lightGridBox:after {
    content: "";
    display: table;
    clear: both;
  }

.numLabel {
    font-family: 'Space Mono', Calibri, sans-serif;
    font-size: max(0.8vw, 15px);
    position: absolute;
    top: 0;
    right: 20px;
    padding: 10px;
}

.labelView {
    font-family: 'Space Mono', Calibri, sans-serif;
    font-size: max(0.8vw, 15px);
    float: left;
    padding: 5px;
    margin-top: 3%;
}

.inputView {
    font-family: Calibri, sans-serif;
    font-size: max(.3vw, 15px);
    letter-spacing: 1px;
    width: 100%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10%;

}

.checkBox {
    float: left;
    margin:  9% 2% 8% 0%;

}

.btnDiv {
    margin-top: 7%;
    float: right;
    width: 120px;
}

.iconBtn {
    background-color: transparent;
    border: none;
    width: 40px;
}

.icon {
    color: white;
    width: 15px;
    height: auto;
    margin: auto;
}

.lightIcon {
    color: #363671;
    width: 15px;
    height: auto;
    margin: auto;
}

.iconBtn:hover, .icon:hover, .lightIcon:hover {
    background-color: #ccc;
    color: black;
}



@media screen and (max-width: 1300px) {

    .gridBox {
        width: 50%;
        left: 15%;
    }

    .lightGridBox {
        width: 50%;
        left: 15%;
    }
 
    .numLabel{
        position: relative;
        right: 5%;
        margin: auto;
    }

    .btnDiv {
       display: flex;
       width: 80px;
    }

  }


/*   /* responsive design 

.formContainer{
    padding: 20px;
}

.groupDiv:after {
    content: "";
    display: table;
    clear: both;
  }



.labelDiv {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.inputDiv {
    float: left;
    width: 60%;
    margin: 13px;

}

.input {
    font-family: Calibri, sans-serif;
    font-size: max(.3vw, 15px);
    letter-spacing: 2px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.button {
    background-color: #0E2347;
    color: white;
    width: 120px;
    height: 35px;
    font-family: 'Space Mono', Calibri, san;
    font-size: 17px;
    letter-spacing: 3px;
    padding: auto;
    margin: 15px;
    border: 4px solid white;
    border-radius: 10px;
    float: right;
}

.button:hover {
    background-color: #ccc;
    color: black;
}

@media screen and (max-width: 1300px) {
    .labelDiv, .inputDiv {
      width: 100%;
      margin-top: 0;
    }
  }
 */